{% extends "layout.html" %}

    {% block title %}
        Correct message
    {% endblock %}

    {% block main %}


    <div class="col-md-10 mx-auto col-lg-5">
            <h5 class="h6">{{ name }} > Profile</h5>
            <p class="h4">Hello, {{ name }}</p>
            <hr>
            <h5>Your Progress:</h5>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Biocehmistry</h5>
                      <p class="card-text">Monitor your progress through the course</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{ correct }} correct answers</li>
                      <li class="list-group-item">{{ incorrect }} incorrect answers</li>
                      <li class="list-group-item">{{ total_questions - 1}} questions in total</li>
                    </ul>
                    <div class="card-body">
                        <a href="/quize" class="card-link">Do Questoins</a>
                      </div>
                  </div>
    </div>

    {% endblock %}